In [2]:
# # Data Preprocessing
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# Mounting Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
from google.colab import files
Uploaded=files.upload()

Saving jugal PGI18CS021 - Classification Dataset1.csv to jugal PGI18CS021 - Classification Dataset1.csv

In [74]:
dataset= pd.read_csv('jugal PGI18CS021 - Classification Dataset1.csv')
dataset

        Surname  CreditScore Geography  ... IsActiveMember  EstimatedSalary  Exited
0      Hargrave          619    France  ...            1.0        101348.88       1
1          Hill          608     Spain  ...            1.0        112542.58       0
2          Onio          502    France  ...            0.0        113931.57       1
3          Boni          699    France  ...            0.0         93826.63       0
4      Mitchell          850     Spain  ...            1.0         79084.10       0
...         ...          ...       ...  ...            ...              ...     ...
4498   Obijiaku          771    France  ...            0.0         96270.64       0
4499  Johnstone          516    France  ...            1.0        101699.77       0
4500        Liu          709    France  ...            1.0         42085.58       1
4501  Sabbatini          772    France  ...            0.0         92888.52       1
4502     Walker          792    France  ...            0.0         38190.78       0

[4503 rows x 11 columns]

In [75]:
dataset.isnull().sum()

Surname             0
CreditScore         0
Geography           0
Gender              5
Age                 6
Tenure              3
Balance            15
HasCrCard           4
IsActiveMember      2
EstimatedSalary     9
Exited              0
dtype: int64

In [76]:
dataset.dtypes

Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                float64
Tenure             float64
Balance            float64
HasCrCard          float64
IsActiveMember     float64
EstimatedSalary    float64
Exited               int64
dtype: object

In [77]:
dataset.head(5)

    Surname  CreditScore Geography  ... IsActiveMember  EstimatedSalary  Exited
0  Hargrave          619    France  ...            1.0        101348.88       1
1      Hill          608     Spain  ...            1.0        112542.58       0
2      Onio          502    France  ...            0.0        113931.57       1
3      Boni          699    France  ...            0.0         93826.63       0
4  Mitchell          850     Spain  ...            1.0         79084.10       0

[5 rows x 11 columns]

In [78]:
dataset.iloc[:,4:9]

       Age  Tenure    Balance  HasCrCard  IsActiveMember
0     42.0     2.0       0.00        1.0             1.0
1     41.0     1.0   83807.86        0.0             1.0
2     42.0     8.0  159660.80        1.0             0.0
3     39.0     1.0       0.00        0.0             0.0
4     43.0     2.0  125510.82        1.0             1.0
...    ...     ...        ...        ...             ...
4498  39.0     5.0       0.00        1.0             0.0
4499  35.0    10.0   57369.61        1.0             1.0
4500  36.0     7.0       0.00        0.0             1.0
4501  42.0     3.0   75075.31        1.0             0.0
4502  28.0     4.0  130142.79        1.0             0.0

[4503 rows x 5 columns]

In [79]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values= np.NAN, strategy= 'mean', fill_value=None, verbose=1, copy=True)
 
imputer = imputer.fit(dataset.iloc[:, 4:10]) 
dataset.iloc[:, 4:10]= imputer.transform(dataset.iloc[:, 4:10])

In [80]:
dataset.iloc[:,3] = dataset.iloc[:,3].fillna(dataset.iloc[:,3].mode()[0])

In [81]:
print(dataset.isnull().sum())

Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [82]:
dataset.head(5)

    Surname  CreditScore Geography  ... IsActiveMember  EstimatedSalary  Exited
0  Hargrave          619    France  ...            1.0        101348.88       1
1      Hill          608     Spain  ...            1.0        112542.58       0
2      Onio          502    France  ...            0.0        113931.57       1
3      Boni          699    France  ...            0.0         93826.63       0
4  Mitchell          850     Spain  ...            1.0         79084.10       0

[5 rows x 11 columns]

In [99]:
X=dataset.iloc[:,1:10].values
y=dataset.iloc[:,-1].values

In [100]:
print(X)

[[619 'France' 'Female' ... 1.0 1.0 101348.88]
 [608 'Spain' 'Female' ... 0.0 1.0 112542.58]
 [502 'France' 'Female' ... 1.0 0.0 113931.57]
 ...
 [709 'France' 'Female' ... 0.0 1.0 42085.58]
 [772 'France' 'Male' ... 1.0 0.0 92888.52]
 [792 'France' 'Female' ... 1.0 0.0 38190.78]]

In [101]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
X[:, 1] = labelencoder_X.fit_transform(X[:, 1])

In [103]:
print(X)

[[619 0 'Female' ... 1.0 1.0 101348.88]
 [608 1 'Female' ... 0.0 1.0 112542.58]
 [502 0 'Female' ... 1.0 0.0 113931.57]
 ...
 [709 0 'Female' ... 0.0 1.0 42085.58]
 [772 0 'Male' ... 1.0 0.0 92888.52]
 [792 0 'Female' ... 1.0 0.0 38190.78]]

In [104]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(X,y,random_state=42,test_size=0.2)

In [93]:
train_x

array([[748, 0, 'Male', ..., 1.0, 1.0, 163331.65],
       [790, 0, 'Female', ..., 1.0, 1.0, 172437.12],
       [595, 0, 'Female', ..., 1.0, 0.0, 4721.3],
       ...,
       [691, 0, 'Female', ..., 0.0, 1.0, 161559.12],
       [642, 0, 'Male', ..., 1.0, 1.0, 91775.51],
       [491, 0, 'Female', ..., 0.0, 1.0, 113695.99]], dtype=object)

In [94]:
test_x

array([[765, 0, 'Female', ..., 0.0, 1.0, 166896.01],
       [576, 0, 'Female', ..., 0.0, 1.0, 67539.85],
       [741, 0, 'Male', ..., 1.0, 1.0, 149503.54],
       ...,
       [773, 0, 'Male', ..., 1.0, 1.0, 1118.31],
       [624, 0, 'Female', ..., 0.0, 0.0, 132418.59],
       [681, 1, 'Male', ..., 0.0, 0.0, 158336.36]], dtype=object)

In [95]:
from sklearn.neighbors import KNeighborsClassifier
KNN=KNeighborsClassifier(n_neighbors=5)
KNN.fit(train_x,train_y)

ValueError: ignored